<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".volume_area.equations.HigherDegreeActivity"
            android:exported="false" />
        <activity
            android:name=".volume_area.equations.ThirdDegreeActivity"
            android:exported="false" />
        <activity
            android:name=".volume_area.equations.SecondDegreeActivity"
            android:exported="false" />
        <activity
            android:name=".volume_area.equations.FirstDegreeActivity"
            android:exported="false" />
        <activity
            android:name=".volume_area.equations.equations"
            android:exported="false" />
        <activity
            android:name=".volume_area.volume_activites.RectangularPrismVolumeActivity"
            android:exported="false" />
        <activity
            android:name=".volume_area.volume_activites.ConeVolumeActivity"
            android:exported="false" />
        <activity
            android:name=".volume_area.volume_activites.CubeVolumeActivity"
            android:exported="false" />
        <activity
            android:name=".volume_area.volume_activites.SphereVolumeActivity"
            android:exported="false" />
        <activity
            android:name=".volume_area.volume_activites.CylinderVolumeActivity"
            android:exported="false" />
        <activity
            android:name=".volume_area.area_activites.parallelogram_area_activity"
            android:exported="false" />
        <activity
            android:name=".volume_area.area_activites.triangle_area_activity"
            android:exported="false" />
        <activity
            android:name=".volume_area.area_activites.circle_area_activity"
            android:exported="false" />
        <activity
            android:name=".volume_area.area_activites.rectangle_area_activity"
            android:exported="false" />
        <activity
            android:name=".volume_area.area_activites.square_calculation_activity"
            android:exported="false" />
        <activity
            android:name=".volume_area.volumeActivity"
            android:exported="false" />
        <activity
            android:name=".volume_area.areaActivity"
            android:exported="false" />
        <activity
            android:name=".volume_area.volume_area_Activity"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>